*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
   font-family: 'helvetica', sans-serif;
}


ul { list-style: none;

}


.cabecera{
    background-color: rgb(72, 5, 160);
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    box-shadow: 0 2px 6px rgb(60, 60, 66);
}

.contenedor {
    
     max-width: 85% ;
     margin: 0px auto;

     display:  flex;
     justify-content: space-between;
     align-items: center;
}
.logo {
    width: 250px;
     height: 70px;
}

.navegacion{  
    min-width: 50%;
}

.nav_list{ 
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

.navegacion_enlace {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;

}

.hero {
    background-color: red;
    height: 600px;
    width: 100%;
    background-image: url('imagenes/U.D.H.png');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-principal {
    color: white;
    background-color: black;
    padding: 16px;
    border: 10px solid red;
    font-size: 40px;
}

.main_seccion{
    background-color: rgb(49, 103, 165) ;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right:  20px;

}


.contenido{
    width: 50%;
}

.rec_flex{
    display: flex;
    background-color: rgb(100, 114, 237);
    padding: 16px;
    width: 100%;
    
}
.form_img{
    width: 450px;
    height: 550px;
}
.footer{
    background-color: mediumvioletred;
}